<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../assets/img/1.png" alt="Slide 1" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/2.png" alt="Slide 2" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/3.png" alt="Slide 3" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/4.png" alt="Slide 4" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/5.png" alt="Slide 5" />
    </ion-slide>
  </ion-slides>
  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>
  <ion-button expand="full">Full Button</ion-button>
  <ion-button color="primary" expand="block">
    <ion-icon slot="start" name="checkbox-outline"></ion-icon>
     Espera más información...
  </ion-button>
</ion-content>
